.vs/
build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/cmake_install.cmake
build/CMakeCache.txt
build/opengl.sln
build/opengl.vcxproj
build/opengl.vcxproj.filters
build/opengl.vcxproj.user
build/ZERO_CHECK.proj
build/ZERO_CHECK.proj.filters
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/2c79bdabe4bb84d1ff8c94f8e42a86f0/generate.stamp.rule
build/CMakeFiles/3.24.0-rc2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.24.0-rc2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.24.0-rc2/CMakeRCCompiler.cmake
build/CMakeFiles/3.24.0-rc2/CMakeSystem.cmake
build/CMakeFiles/3.24.0-rc2/VCTargetsPath.txt
build/CMakeFiles/3.24.0-rc2/VCTargetsPath.vcxproj
build/CMakeFiles/3.24.0-rc2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.24.0-rc2/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.24.0-rc2/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.24.0-rc2/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.24.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/3.24.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.24.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.24.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.24.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.24.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.24.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.24.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.24.0-rc2/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/3.24.0-rc2/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/opengl.dir/Debug/opengl.log
build/opengl.dir/Debug/vc142.pdb
build/opengl.dir/Debug/opengl.tlog/CL.command.1.tlog
build/opengl.dir/Debug/opengl.tlog/CustomBuild.command.1.tlog
build/opengl.dir/Debug/opengl.tlog/CustomBuild.read.1.tlog
build/opengl.dir/Debug/opengl.tlog/CustomBuild.write.1.tlog
build/opengl.dir/Debug/opengl.tlog/opengl.lastbuildstate
build/opengl.dir/Debug/opengl.tlog/unsuccessfulbuild
x64/Debug/opengl.exe
x64/Debug/opengl.ilk
x64/Debug/opengl.log
x64/Debug/opengl.obj
x64/Debug/opengl.pdb
x64/Debug/vc142.idb
x64/Debug/vc142.pdb
x64/Debug/opengl.tlog/CL.command.1.tlog
x64/Debug/opengl.tlog/CL.read.1.tlog
x64/Debug/opengl.tlog/CL.write.1.tlog
x64/Debug/opengl.tlog/link.read.1.tlog
x64/Debug/opengl.tlog/link.write.1.tlog
x64/Debug/opengl.tlog/opengl.lastbuildstate
